<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索引擎一键全查URL生成器</title>
</head>
<body>
<h1>选择想要的搜索引擎</h1>
<form action="/" method="POST">
    <label for="google">谷歌 Google</label>
    <input type="checkbox" name="engines[]" value="google" id="google"/>
    <br>
    <label for="bing">必应 Bing</label>
    <input type="checkbox" name="engines[]" value="bing" id="bing"/>
    <br>
    <label for="baidu">百度 Baidu</label>
    <input type="checkbox" name="engines[]" value="baidu" id="baidu"/>
    <br>
    <label for="duckduckgo">DuckDuckGo</label>
    <input type="checkbox" name="engines[]" value="duckduckgo" id="duckduckgo"/>
    <br>
    <label for="yahoo">雅虎 Yahoo</label>
    <input type="checkbox" name="engines[]" value="yahoo" id="yahoo"/>
    <br>
    <label for="sogou">搜狗 Sogou</label>
    <input type="checkbox" name="engines[]" value="sogou" id="sogou"/>
    <br>
    <label for="sogouWx">搜狗微信</label>
    <input type="checkbox" name="engines[]" value="sogouWx" id="sogouWx"/>
    <br>
    <label for="sogouZh">搜狗知乎</label>
    <input type="checkbox" name="engines[]" value="sogouZh" id="sogouZh"/>
    <br>
    <p> 点击提交按钮，获取结果</p>
    <input type="submit"/>
</form>
</body>
</html>
